html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
    overflow-x: hidden;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: beige;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 100%;
    height: auto;
    background-color: white;
}

#banner img {
    width: 60%;
    height: auto;
}

.service {
    display: inline-block;
    background-color: white;
    border: 5px solid green;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 20px;
    margin: 10px;
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

.locations li {
    list-style-type: none;
    text-align: center;
    margin-left: -40px;
    padding: 5px;
}

.locations {
    margin-top: -15px;
}

.current {
    background-color: green;
    color: white;
}

.christmas-closure {
    background-color: red;
    color: white;
    display: flex;
}

.christmas-closure h1 {
    margin: 0;
    color: #fff;
}

.christmas-closure h1 {
    animation: loop 7s linear infinite;
}

/* Animation */
@keyframes loop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer {
    background-color: green;
    padding: 10px;
    text-align: center;
    color: green;
}

footer p {
    color: #fff;
}

footer i {
    color: #fff;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

footer i:hover {
    color: darkred;
    text-decoration: none;
}